html {
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1{
	display: flex;
/* 	align-items: center; */
	justify-content: center;
}
main{
	flex: 1;
	display: flex;
	align-items: center;
}
.invoice-container {
	flex: 1;
	max-height: 656px;;
	max-width: 800px;
	min-width: 700px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid rgb(255, 255, 255);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.invoice-header {
	text-align: center;
}

.invoice-title {
	font-size: 24px;
	margin-bottom: 10px;
}

.invoice-details {
	margin-top: 20px;
}

.invoice-details h2 {
	font-size: 18px;
}

.invoice-address {
	margin-top: 10px;
}

.invoice-table {
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
}

.invoice-table th, .invoice-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.invoice-table th {
	background-color: #f2f2f2;
}

.invoice-total {
	margin-top: 20px;
	text-align: right;
}
ausdruckenBox{
	margin-left: 30px;
}

@media print {
  .noPrint{
    display:none;
  }
}

.ausdruckenBox {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Hintergrundfarbe des Buttons */
    color: white; 
    text-decoration: none;
    border-radius: 5px; /* Abrundung der Ecken */
    font-size: 16px;
    cursor: pointer;
    margin-left: 636px;
	margin-top: 20px;
	
	}

.ausdruckenBox:hover {
    background-color: gray; /* Hintergrundfarbe des Buttons bei Hover */
}
ausdrucken-button{
	color: white;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}