 
body{
    font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}
main {

    text-align:center;
}

.container{
	background-color: #f9f9f9;
}